.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  background: #FAF9F8;
  width: 140px !important; }
  .gu-mirror .pub-meta {
    display: none; }
  .gu-mirror .stats {
    display: none; }

.gu-hide {
  display: none !important; }

.gu-unselectable {
  user-select: none !important; }

.gu-transit {
  opacity: 0.2; }

.ex-start {
  height: 12em !important;
  background: #FFFFFF !important;
  transition: all 0.5s; }

.ex-start .filter {
  width: 200px;
  background-color: #EFECE6;
  height: 150px;
  transition: all 0.5s;
  border-radius: 5px;
  margin: 15px 10px;
  padding: 10px 0 20px 0; }
  .ex-start .filter a {
    color: #A49F96;
    box-shadow: none; }

.ex-start .filter-new {
  background-color: #56B66A; }
  .ex-start .filter-new a {
    color: #FFFFFF; }

.ex-start .filter-new {
  display: inline-block; }

.ex-start .filter-all {
  display: none; }

.gu-transit {
  display: none !important; }

.cd-filters .ex-over {
  transform: scale(1.05);
  transition: transform 0.5s; }

.gu-unselectable .cd-filter-trigger, .gu-unselectable .cd-manage-trigger {
  display: none; }

/* --------------------------------

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #F36D5D;
  background-color: #FAF9F8; }

img {
  width: 120px; }

a {
  color: #F36D5D;
  text-decoration: none; }

/* --------------------------------

Main Components

-------------------------------- */
.cd-header, .cd-reader {
  position: relative;
  height: 150px;
  background-color: #EFECE6; }
  .cd-header .leftPage, .cd-reader .leftPage {
    width: 49.8%;
    float: left;
    background: #4C4C4C;
    height: 98%; }
  .cd-header .rightPage, .cd-reader .rightPage {
    float: right;
    width: 49.8%;
    background: #4C4C4C;
    height: 98%; }
  .cd-header h1, .cd-reader h1 {
    color: #78756E;
    line-height: 150px;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 300; }
  @media only screen and (min-width: 1170px) {
    .cd-header, .cd-reader {
      height: 100px; }
      .cd-header h1, .cd-reader h1 {
        line-height: 100px; } }

.cd-reader {
  background-color: #353535;
  height: 860px;
  padding: 50px; }
  .cd-reader h1 {
    color: white; }
  .cd-reader .add-button {
    background: #F36D5D;
    color: #F2F2F2;
    border: none;
    text-transform: uppercase;
    height: 34px;
    padding: 2px 22px;
    border-radius: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: 13px;
    outline: none;
    margin-top: 14px;
    float: right; }
    .cd-reader .add-button:hover {
      background: #E66153;
      cursor: pointer; }

.grid {
  margin: 0 auto;
  max-width: 63em;
  padding: 0 1em; }

.grid__item {
  position: relative;
  display: inline-block;
  margin: 0.5em 0.5em;
  border-radius: 4px;
  color: #FAF9F8;
  text-align: center; }
  .grid__item img {
    width: 221px;
    box-shadow: 0px 3px 5px rgba(53, 53, 53, 0.3); }
  .grid__item .action {
    position: absolute;
    bottom: 2px;
    right: 0; }
  .grid__item:hover .add-button {
    display: block; }
  .grid__item .add-button {
    display: none;
    background: #F36D5D;
    color: #F2F2F2;
    border: none;
    text-transform: uppercase;
    height: 24px;
    width: 24px;
    border-radius: 3px;
    font-weight: 700;
    letter-spacing: 0.5px;
    outline: none;
    float: right; }
    .grid__item .add-button:hover {
      background: #E66153;
      cursor: pointer; }

.grid__item:hover {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.grid__item:active {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

.is-dragging {
  background: #78756E; }

.is-active {
  z-index: 100; }

.is-dropped {
  opacity: 0;
  -webkit-transform: scale3d(0.7, 0.7, 1) !important;
  transform: scale3d(0.7, 0.7, 1) !important; }

.is-complete {
  opacity: 1;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s !important;
  transition: opacity 0.3s, transform 0.3s !important;
  -webkit-transform: scale3d(1, 1, 1) !important;
  transform: scale3d(1, 1, 1) !important; }

.animate {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.drop-area {
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 99;
  width: 19em;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background: #F36D5D;
  text-align: left;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition-delay: 0.5s;
  -webkit-transform: translate3d(20px, 0, 0);
  transform: translate3d(20px, 0, 0); }

.drop-area.show {
  -webkit-transform: translate3d(-16em, 0, 0);
  transform: translate3d(-16em, 0, 0);
  transition: transform 0.5s;
  transition-delay: 0; }

.drop-area > div {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.4s 0.1s;
  transition: transform 0.4s 0.1s;
  transition-delay: 0.5s;
  -webkit-transform: translate3d(50%, 0, 0);
  transform: translate3d(50%, 0, 0); }

.drop-area.show > div {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: transform 0.4s 0.1s;
  transition-delay: 0; }

.drop-area__item {
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin: 3em 0 1em 2em;
  width: 12em;
  height: 12em;
  border-radius: 4px;
  background: #DE5647;
  text-align: center;
  -webkit-transition: -webkit-transform 0.3s, background 0.3s;
  transition: transform 0.3s, background 0.3s; }

.drop-area__item.highlight {
  background: #E66153;
  -webkit-transform: scale3d(1.08, 1.08, 1);
  transform: scale3d(1.08, 1.08, 1); }

.drop-area__item::before,
.drop-area__item::after {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  color: rgba(0, 0, 0, 0.15);
  font-size: 1.5em;
  margin-top: -0.35em;
  font-family: FontAwesome;
  pointer-events: none; }

.drop-area__item::before {
  content: '\f067'; }

.show-view .drop-area__item::before {
  content: ''; }

.publication-in-list {
  display: none; }

.show-view .publication-in-list {
  display: inline-block; }

.drop-feedback.drop-area__item::before {
  opacity: 0;
  -webkit-transform: scale3d(0, 0, 1);
  transform: scale3d(0, 0, 1); }

.drop-area__item::after {
  color: rgba(242, 242, 242, 0.8);
  content: '\f00c';
  font-size: 3em;
  margin-top: -0.5em;
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: scale3d(2, 2, 1);
  transform: scale3d(2, 2, 1); }

.drop-feedback.drop-area__item::after {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1); }

.title,
.title::after {
  position: absolute;
  bottom: 100%;
  left: 0;
  margin: 0.30em 0;
  height: 0.65em;
  color: #F2F2F2;
  -webkit-backface-visibility: hidden; }

.add-new {
  cursor: pointer;
  height: 60px;
  line-height: 60px;
  padding-right: 20px;
  background: #DE5647;
  color: #F2F2F2;
  font-size: 13px;
  width: 20em;
  letter-spacing: 1px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  text-align: center; }

.title {
  width: 80%;
  text-align: left;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 8px;
  letter-spacing: 1px; }

.title::after {
  width: 90%;
  content: ''; }

.dummy,
.dummy::after {
  position: absolute;
  bottom: 100%;
  left: 0;
  margin: 0.25em 0;
  height: 0.65em;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backface-visibility: hidden; }

.dummy {
  width: 80%; }

.dummy::after {
  width: 90%;
  content: ''; }

.drop-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  pointer-events: none; }

.drop-area.show + .drop-overlay {
  opacity: 1; }

.helper {
  font-size: 2em;
  position: absolute !important;
  margin: 0; }

@media screen and (max-width: 50em) {
  .grid__item {
    font-size: 1.5em; }
  .drop-area {
    font-size: 0.6em; } }

@media screen and (max-width: 25.5em) {
  .grid {
    padding: 0 2em; }
  .grid__item {
    font-size: 1em; } }

.show-list {
  position: fixed;
  right: 20px;
  bottom: 20px;
  border: none;
  background: #F36D5D;
  border-radius: 100%;
  color: white;
  font-size: 2em;
  width: 70px;
  height: 70px;
  outline: none;
  box-shadow: 0px 3px 5px rgba(53, 53, 53, 0.3);
  transform: scale3d(1, 1, 1);
  transition: transform 0.5s;
  cursor: pointer; }
  .show-list:hover {
    -webkit-transform: scale3d(1.08, 1.08, 1);
    transform: scale3d(1.08, 1.08, 1);
    transition: transform 0.5s; }

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.5; }

.gu-hide {
  display: none !important; }

.gu-unselectable {
  user-select: none !important; }

.gu-transit {
  opacity: .5; }

.drop-area .item-over {
  transform: scale(1.07);
  transition: transform 0.1s; }
