.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  background: $tan-300;
  width: 140px !important;
  .pub-meta {
    display: none;
  }
  .stats {
    display: none;
  }
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
}
.ex-start {
  height: 12em !important;
  background: $white-500 !important;
  transition: all 0.5s;
}

.ex-start .filter {
    width: 200px;
    background-color: $tan-400;
    height: 150px;
    transition: all 0.5s;
    border-radius: 5px;
    margin: 15px 10px;
    padding: 10px 0 20px 0;

    a {
      color: $tan-800;
      box-shadow: none;
    }
}

.ex-start .filter-new {
    background-color: $green-500;
    a {
      color: $white-500;
    }
}

.ex-start .filter-new {
  display: inline-block
}
.ex-start .filter-all {
  display: none;
}

.gu-transit {
  display: none !important;
}

.cd-filters .ex-over {
  transform: scale(1.05);
  transition: transform 0.5s;
}

.gu-unselectable {
  .cd-filter-trigger, .cd-manage-trigger  {
    display: none;
  }
}
