.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  background: white;
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
}
.ex-start {
  height: 10em !important;
  background: white !important;
  transition: all 0.5s;
}

.ex-start .filter {
    width: 200px;
    background-color: rgba(#A49F96, 50%);
    height: 150px;
    transition: all 0.5s;
}

.ex-start .filter-new {
    background-color: rgba(#56B66A, 50%);
}

.ex-start .filter-new {
  display: inline-block
}
.ex-start .filter-all {
  display: none;
}

.gu-transit {
  display: none !important;
}

.ex-over {
  transform: scale(1.05);
  transition: transform 0.5s;
}
